﻿@using System.Globalization
@using Tokenomics.Designer.Events
@inject ChartEvents ChartEvents
@inject ChartsManager ChartsManager

<h3>@Chart.Name </h3>

<RadzenCard class="w-100 mb-6">
    <RadzenIcon Icon="delete" @onclick="RemoveChart" />
    <RadzenChart Style="height:500px" @ref="radzenChart">
        @if (Chart is not null && Chart.Series is not null)
        {
            @if (Chart.Type == ChartType.Line)
            {
                @foreach (var series in Chart.Series)
                {
                    <RadzenLineSeries Smooth="false" Data="series" CategoryProperty="Key" ValueProperty="Value" LineType="LineType.Solid">
                        <RadzenMarkers MarkerType="MarkerType.None" />
                        <RadzenValueAxis Step="1" />
                        <RadzenCategoryAxis Step="2" />
                    </RadzenLineSeries>
                }

            }
            else if (Chart.Type == ChartType.Pie && Chart.Series.Max(s => s.Count) > 0)
            {
                // Todo range for historical data
                @*<RadzenSlider @bind-Value="historyValue" Min="0" Max="Chart.Series.Max(s => s.Count)" />@historyValue*@
                <RadzenPieSeries Data="Chart.Series.Select(s => s.Last())" CategoryProperty="Key" ValueProperty="Value">

                </RadzenPieSeries>
            }

        }
    </RadzenChart>
</RadzenCard>

@code {
    [Parameter]
    public BaseChart Chart { get; set; }
    RadzenChart? radzenChart;

    protected override async Task OnInitializedAsync()
    {
        ChartEvents.ChartsUpdated += (sender, args) =>
        {
            radzenChart?.Reload();
        };
    }

    string AddName(int index, object value)
    {
        return $"{Chart.SeriesNames[index]}: {value}";
    }

    async Task RemoveChart()
    {
        ChartsManager.RemoveChart(Chart);
        Console.WriteLine("chart removed");
    }
}
