﻿@inject ChartsManager ChartManager

<div>
    <RadzenFieldset Text="New chart">
        <div class="row">
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Chart name" />
            </div>
            <div class="col-md-8">
                <RadzenTextBox @bind-Value="baseChart.Name" placeholder="Chart name" />
            </div>
        </div>
        <div class="row">
            @for (int i = 0; i < baseChart.Keys.Count; i++)
            {
                int index = i;
                <RadzenFieldset Text="Serie" >
                    <div class="row">
                        @if (baseChart.Type != ChartType.Pie)
                        {
                            <div class="col-md-4 align-items-center d-flex">
                                <RadzenLabel Text="Name" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox @oninput="(args) => SetSerieName(index, args.Value.ToString())" Value="@baseChart.SeriesNames[index]" placeholder="X" />
                            </div>
                        }
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Key" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox @oninput="(args) => SetKey(index, args.Value.ToString())" Value="@baseChart.Keys[index]" placeholder="Y" />
                        </div>
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Value" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox @oninput="(args) => SetValue(index, args.Value.ToString())" Value="@baseChart.Values[index]" placeholder="X" />
                        </div>
                    </div>
                </RadzenFieldset>
            }
            <RadzenButton class="col-md-4" Click="() => AddSeries()">Add values</RadzenButton>
        </div>
        <div class="row">
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Type" />
            </div>
            <div class="col-md-8">
                <RadzenDropDown Data="chartTypes" ValueProperty="Key" TextProperty="Value" @bind-Value="baseChart.Type" />
            </div>
        </div>
        <RadzenButton Click="AddChart">Add chart</RadzenButton>
    </RadzenFieldset>
</div>

@code {
    BaseChart baseChart = new();
    Dictionary<ChartType, string> chartTypes = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        chartTypes = Enum.GetValues(typeof(ChartType))
               .Cast<ChartType>()
               .ToDictionary(t => t, t => t.ToString() );
    }

    public async Task AddChart()
    {
        Console.WriteLine(baseChart);
        ChartManager.AddChart(baseChart);
        baseChart = new();
    }

    public async Task AddSeries()
    {
        baseChart.Keys.Add("");
        baseChart.Values.Add("");
        baseChart.Series.Add(new());
        baseChart.SeriesNames.Add("");
    }

    public void SetKey(int index, string value)
    {
        baseChart.Keys[index] = value;
    }

    public void SetValue(int index, string value)
    {
        Console.WriteLine($"{index}: {value}");
        baseChart.Values[index] = value;
    }

    public void SetSerieName(int index, string value)
    {
        baseChart.SeriesNames[index] = value;
    }
}
