﻿<h3>VariableView</h3>

<div class="variable-container">
    <input @bind="Variable.Name" placeholder="Name" />
    <input @bind="Variable.Value" placeholder="Value" />
</div>

@code {
    [Parameter]
    public Variable Variable { get; set; } = new();
}
