﻿@inject VariablesManager VariablesManager
@inject VariableEvents VariableEvents
<div>
    <RadzenPanel AllowCollapse="true" >
        <HeaderTemplate>
            <h4 class="m-0 d-flex align-items-center">
                <b>Variables</b>
            </h4>
        </HeaderTemplate>
        <ChildContent>
            <RadzenCard Class="mt-3">
                @foreach (var variable in VariablesManager.Variables)
                {
                    <div><RadzenIcon Icon="delete" @onclick="() => RemoveVariable(variable.Key)" /><input @bind-value="variable.Key.Name" /> <span>=</span> <input @bind-value="variable.Key.Value" /> <b>(@variable.Value)</b></div>
                }
                <RadzenButton Click=UpdateVariables>Update</RadzenButton>
            </RadzenCard>
        </ChildContent>
        <SummaryTemplate>
            <RadzenCard class="mt-3">
                <RadzenTextBox @bind-Value=newVariableName Placeholder="Variable name" />
                <RadzenTextBox @bind-Value=newVariableValue Placeholder="Variable value" />
                <button @onclick=AddVariable>Add</button>
            </RadzenCard>
        </SummaryTemplate>
    </RadzenPanel>
</div>

@code {
    string newVariableName = "";
    string newVariableValue = "";

    protected override Task OnInitializedAsync()
    {
        VariableEvents.VariablesUpdated += (s, e) => this.StateHasChanged();
        return base.OnInitializedAsync();
    }

    public void AddVariable()
    {
        VariablesManager.AddVariable(
            new()
            {
                Value = newVariableValue,
                Name = newVariableName
            });

        newVariableName = "";
        newVariableValue = "";
    }

    public void UpdateVariable(Variable variable, string? value)
    {
        if (value is not null)
            VariablesManager.UpdateVariable(variable, value, true);
    }

    public async Task UpdateVariables()
    {
        await VariablesManager.ResolveVariables();
    }

    public async Task RemoveVariable(Variable variable)
    {
        VariablesManager.Variables.Remove(variable);
    }
}
