﻿@page "/backup"
@page "/tokenomics-designer/backup"

@inject BackupManager BackupManager
@inject IJSRuntime JS

<h3>Backup</h3>
<div class="col-lg-4">
    <h5>Scenes</h5>
<RadzenRadioButtonList TValue="string" Change=@((args) => OnChange(args.ToString()))>
    <Items>
        @foreach (var scene in Scenes)
        {
            <RadzenRadioButtonListItem Value="scene" Text="@scene" />
        }
    </Items>
</RadzenRadioButtonList>
<RadzenButton Click="LoadScene">Load</RadzenButton>
</div>

<div class="col-lg-4">
    <h5>Save scene</h5>
<RadzenTextBox @bind-Value="newName" Placeholder="Scene name" />
<RadzenButton Click="SaveScene">Save</RadzenButton>
</div>
<h5>Scene json</h5>
<RadzenTextArea @bind-Value="sceneJson"></RadzenTextArea>
<pre><code class=json>@((MarkupString)sceneJson)</code></pre>


@code {
    string newName = "";
    string sceneJson = "";
    string selectedScene = "";
    Scene scene = new();
    IEnumerable<string> Scenes = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Scenes = await BackupManager.GetScenes();
    }

    async Task OnChange(string name)
    {
        selectedScene = name;
        sceneJson = await BackupManager.GetSceneJsonValue(name);
        sceneJson = await GetPrettyJson(await BackupManager.GetSceneValue(name));
    }

    async Task SaveScene()
    {
        await BackupManager.SaveScene(newName);
        newName = "";
        Scenes = await BackupManager.GetScenes();

    }

    async Task LoadScene()
    {
        await BackupManager.LoadScene(selectedScene);
        Scenes = await BackupManager.GetScenes();

    }

    async Task<string> GetPrettyJson(object input) {
        Console.WriteLine(input);
        var a =  await JS.InvokeAsync<string>("window.jsonPrettier", input);
        Console.WriteLine(a);
        return a;
    }
}
