﻿@page "/"
@page "/tokenomics-designer"

<h3>Read me</h3>

<p>Simulátor umožnuje vytvorenie premenných, inštrukcií na zmenu premenných a vizualizáciu hodnôt. <br /> 
    Premenná v zápise sa nahradí jej hodnotou a následne vypočíta pomocou <a href="https://am.angouri.org/" target="_blank">https://am.angouri.org/</a>.
</p>

<ul>
    <li>V zápise je možné použiváť matematické operácie (<code>sin( x )</code>).</li>
    <li>Pri inštrukciách je možné zadať podmienku pre vykonanie, výsledok musí byť <strong>boolean</strong> <code>x &lt; y or ( var1 = var2 ) and ( var3 = 0 )</code> (jedno <code>=</code> pre porovnanie)</li>
    <li>Použitá premenná v grafe alebo v inštrukcií musí byť odelená medzerami <code>var1 + var2 * ( x / y ) * sin( x )</code></li>
    <li>V záložke <strong>import / export</strong> je možné uložiť aktuálny stav do pamäte prehliadača / obnoviť</li>
    <li>Hodnota Key v Pie chart môže byť <strong>string</strong> iba v prípade že začína úvodzovkami <code>"Text input</code></li>
    <li>Náhodné číslo je možné zadať zápisom <code>rand( min max )</code></li>
    <li>Desatiné čisla písať bodkou <code>.</code></li>
</ul>

<h5>Chyby</h5>
<ul>
    <li>Vstupy nemajú validáciu</li>
    <li>Pozor na zacyklenie, maximálna hĺbka výpočtu nie je stanovená! (<code>x = y + 2</code> a <code>y = x / 2</code>)</li>
    <li>...</li>
</ul>

<h5>Todo</h5>
<ul>
    <li>Obnovenie stavu priamo z json</li>
    <li>Editáciu stavu v json</li>
    <li>Editácia / reset grafu</li>
    <li>Viac možností vizualizácií</li>
    <li>Condition watcher</li>
    <li>Ukladať stav priebežne</li>
    <li>WebGl charts</li>
</ul>

<style>
    code {
        background: rgba(20, 20, 200, .1);
    }
</style>