﻿@page "/simulator"
@page "/tokenomics-designer/simulator"

@inject ChartsManager ChartManager
@inject ChartEvents ChartEvents
@inject SimulatorManager SimulatorManager
@inject ChartsManager ChartsManager

<h3>Designer</h3>
<div class="row">
    <RadzenTabs TabPosition=Radzen.TabPosition.Top RenderMode="TabRenderMode.Client">
        <Tabs>
            <RadzenTabsItem Text="Variables">
                <VariablesDesigner />
            </RadzenTabsItem>

            <RadzenTabsItem Text="Graphs">
                <ChartsDesigner />
            </RadzenTabsItem>

            <RadzenTabsItem Text="Simulator">
                <SimulatorFunctions />
            </RadzenTabsItem>

            <RadzenTabsItem Text="Settings">
                <SimulatorSettings />
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>

</div>

<div>
    @if (running)
    {
        <RadzenButton Click=Stop>Stop (@SimulatorManager.Settings.Iteration / @SimulatorManager.Settings.Iterations</RadzenButton>
    }
    else
    {
        <RadzenButton Click=Run>Run</RadzenButton>
        <RadzenButton Click=ResetCharts>Reset charts</RadzenButton>
    }
</div>

<div class="row">
    @foreach (var chart in ChartManager.Charts)
    {
        <div class="col-md-12 align-items-center">
            <ChartView Chart="chart" />
        </div>
    }
</div>

@code {
    int TabPosition = 0;
    bool running = false;
    CancellationTokenSource cancellationToken = new CancellationTokenSource();

    protected override Task OnInitializedAsync()
    {
        ChartEvents.ChartsUpdated += (s, e) => this.StateHasChanged();

        return base.OnInitializedAsync();
    }


    async Task Run()
    {
        running = true;
        this.StateHasChanged();

        await SimulatorManager.Run(cancellationToken.Token);

        running = false;
        cancellationToken = new();
    }

    async Task Stop()
    {
        cancellationToken.Cancel();
    }

    async Task ResetCharts()
    {
        ChartsManager.ResetCharts();
    }
}
