﻿@inject SimulatorManager SimulatorManager

<RadzenCard class="mt-3">
    <RadzenFieldset Text="Settings">
        <div class="row">
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Iterations" />
            </div>
            <div class="col-md-8">
                <RadzenNumeric @bind-Value="SimulatorManager.Settings.Iterations" placeholder="1" />
            </div>
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Iteration time" />
            </div>
            <div class="col-md-8">
                <RadzenNumeric @bind-Value="SimulatorManager.Settings.IterationTime" placeholder="10" />
            </div>
        </div>
    </RadzenFieldset>
</RadzenCard>

@code {

}
