﻿@inject SimulatorManager SimulatorManager
@inject VariableEvents VariableEvents
@inject VariablesManager VariablesManager

<div class="row">

    <RadzenCard Class="mt-3">
        <RadzenAccordion Multiple=true>
            <Items>
                @foreach (var function in SimulatorManager.Functions)
                {
                    <RadzenAccordionItem Text="@function.Name" Icon="account_balance_wallet">
                        <RadzenFieldset Text="@function.Name">
                            <div class="col-md-4 align-items-center d-flex">
                                <RadzenLabel Text="Function name" />
                                <RadzenIcon Icon="delete" @onclick="() => RemoveFunction(function)" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox @bind-Value="function.Name" placeholder="Function name" />
                            </div>
                            <div class="col-md-4 align-items-center d-flex">
                                <RadzenCheckBox @bind-Value="function.Enabled" /> 
                                <RadzenLabel Text="Enabled" />
                            </div>
                            <RadzenFieldset Text="Instructions">
                                @foreach (var instruction in function.Instructions)
                                {
                                    <RadzenFieldset Text="@($"Instruction {function.Instructions.IndexOf(instruction) +1}")">
                                        <div class="row">
                                            <div>
                                                <RadzenIcon Icon="delete" @onclick="() => RemoveInstruction(function, instruction)" />
                                            </div>

                                            <div class="col-md-4 align-items-center d-flex">
                                                <RadzenLabel Text="Variable name" />
                                            </div>
                                            <div class="col-md-8">
                                                <RadzenDropDown Data="VariablesManager.Variables.Select(v => v.Key.Name)" @bind-Value=instruction.VariableName TValue="string"/>
                                            </div>
                                            <div class="col-md-4 align-items-center d-flex">
                                                <RadzenLabel Text="instruction" />
                                            </div>
                                            <div class="col-md-8">
                                                <RadzenTextBox @bind-Value="instruction.Instruction" placeholder="Instruction" />
                                            </div>
                                            <div class="col-md-4 align-items-center d-flex">
                                                <RadzenLabel Text="Condition" />
                                            </div>
                                            <div class="col-md-8">
                                                <RadzenTextBox @bind-Value="instruction.Condition" placeholder="x < y" />
                                            </div>
                                        </div>
                                    </RadzenFieldset>
                                }
                                <RadzenButton class="col-md-4" Click="() => AddInstruction(function)">Add instruction</RadzenButton>
                            </RadzenFieldset>
                        </RadzenFieldset>
                    </RadzenAccordionItem>
                }
            </Items>
        </RadzenAccordion>
        <RadzenButton class="col-md-4" Click=AddFunction>Add function</RadzenButton>

    </RadzenCard>

</div>


@code {

    protected override Task OnInitializedAsync()
    {
        VariableEvents.VariablesUpdated += (s, e) => this.StateHasChanged();

        return base.OnInitializedAsync();
    }

    async Task AddFunction()
    {
        SimulatorManager.Functions.Add(new());
    }

    async Task RemoveFunction(SimulatorFunction function)
    {
        SimulatorManager.Functions.Remove(function);
    }

    async Task AddInstruction(SimulatorFunction function)
    {
        function.Instructions.Add(new());
    }

    async Task RemoveInstruction(SimulatorFunction function, SimulatorInstruction instruction)
    {
        function.Instructions.Remove(instruction);
    }

}
